# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environments
.env
.venv
venv/
env/

# Flask / Jupyter
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/
